* {
  align-content: center;
  text-align: center;
  align-items: center;
  align-self: center;
}
#header_logo {
  height: 80px;
}
header {
  padding: 8px;
  background-color: white;
  height: 100px;
}
.nav_a {
  font-weight: bold;
  font-size: larger;
  line-height: 2;
  color: white;
}
nav {
  padding: 30px;
  margin-top: auto;
  margin-bottom: auto;
  height: 120px;
  background-image: url("../img/nav_image.png");
  background-repeat: no-repeat;
}
table {
  margin-left: auto;
  margin-right: auto;
}
hr {
  background-color: skyblue;
  height: 3px;
}
h1 {
  color: rgb(53, 53, 53);
  font-size: 33pt;
}
h2 {
  background-color: rgb(201, 201, 201);
  color: rgb(53, 53, 53);
  font-size: 25pt;
}
h3 {
  font-size: 10pt;
  font-style: oblique;
  color: rgb(134, 134, 134);
}
#etc_content {
  width: 437px;
}
footer {
  padding: 20px;
  height: 65px;
  color: rgb(228, 228, 228);
  background-color: grey;
}
.scale {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transition: all 0.3s ease-in-out; /* 추가 구현, transition 애니메이션 효과 */
}
.scale:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}
