* {
  text-align: center;
  align-items: center;
}
html {
  width: 100%;
  height: 100%;
  background-image: url(../images/background.jpg);
  background-size: 100%;
}
.PlayerPart,
.ComputerPart,
.GivenCards {
  color: rgb(255, 255, 255);
}
#records {
  margin-left: auto;
  margin-right: auto;
}
.ComputerCards {
  display: flex;
  justify-content: space-around;
}
.PlayerCards {
  display: flex;
  justify-content: space-around;
}
.GivenCards,
.PlayerGivenCards,
.ComputerGivenCards {
  display: flex;
  justify-content: space-around;
}
.PlayerNobleCard {
  background-image: url("../images/noble.jpeg");
  background-size: cover;
  width: 100px;
  height: 200px;
  margin: 5px;
  transition: all 2s;
}
.PlayerNobleGivenCard {
  background-image: url("../images/noble.jpeg");
  background-size: cover;
  width: 33px;
  height: 66px;
  margin: 5px;
  transition: all 2s;
}
.PlayerGeneralCard {
  background-image: url("../images/general.jpeg");
  background-size: cover;
  width: 100px;
  height: 200px;
  margin: 5px;
  background-color: green;
  transition: all 2s;
}
.PlayerGeneralGivenCard {
  background-image: url("../images/general.jpeg");
  background-size: cover;
  width: 33px;
  height: 66px;
  margin: 5px;
  background-color: green;
  transition: all 2s;
}
.ComputerGeneralCard {
  background-image: url("../images/general.jpeg");
  background-size: cover;
  width: 100px;
  height: 200px;
  margin: 5px;
  background-color: green;
  transition: all 2s;
}
.ComputerGeneralGivenCard {
  background-image: url("../images/general.jpeg");
  background-size: cover;
  width: 33px;
  height: 66px;
  margin: 5px;
  background-color: green;
  transition: all 2s;
}
.ComputerSlaveCard {
  background-image: url("../images/slave.jpeg");
  background-size: cover;
  width: 100px;
  height: 200px;
  margin: 5px;
  background-color: black;
  transition: all 2s;
}
.ComputerSlaveGivenCard {
  background-image: url("../images/slave.jpeg");
  background-size: cover;
  width: 33px;
  height: 66px;
  margin: 5px;
  background-color: black;
  transition: all 2s;
}

.ComputerGeneralCard,
.ComputerGeneralGivenCard,
.ComputerSlaveCard,
.ComputerSlaveGivenCard,
.PlayerGeneralCard,
.PlayerGeneralGivenCard,
.PlayerNobleCard,
.PlayerNobleGivenCard {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transition: all 0.3s ease-in-out; /* 추가 구현, transition 애니메이션 효과 */
}

.ComputerGeneralCard:hover,
.ComputerGeneralGivenCard:hover,
.ComputerSlaveCard:hover,
.ComputerSlaveGivenCard:hover,
.PlayerGeneralCard:hover,
.PlayerGeneralGivenCard:hover,
.PlayerNobleCard:hover,
.PlayerNobleGivenCard:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}
