<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>프로젝트 소개 페이지</title>
</head>
<body>
    <h1 style="text-align: center; margin-top: 5%;">저의 프로젝트를 소개합니다</h1>
    <div style="text-align: center; margin-top: 5%;">
        프로젝트:
    <select onchange="if(this.value) location.href=(this.value);">
        <option value="">조회할 프로젝트를 선택하세요.
        <option value="./project1">프로젝트1-Dorm_Page(1일차)
        <option value="./project2">프로젝트2-Portfolio(1일차)
        <option value="./project3">프로젝트3-Kingdom(2일차)
        <option value="./login">프로젝트4-login(4일차)</option>
    </select>
    </div>
    <br>
    <div style="text-align : center; margin-top:5%;">
        <img src="/images/scg_logo.png" style="width:400px;">
    </div>
    <div style="margin-top: 5%;">
        <p style="text-align: center; font-size: large; font-weight: bold;">25기 2017314600 김승우</p>
    </div>
    
    
</body>
</html>