<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인 페이지</title>
</head>
<body>
    <h1 style="text-align: center; margin-top: 4%;">login page</h1>
    <div style="text-align: center; margin-top: 4%;">
        <form action='/user-check' method='POST'>
            &emsp;아이디  : <input type="text" name='userid'><br>
            패스워드  : <input type="text" name='password' style="margin-top:3px;"> <br>
            <input type="submit" value="로그인" style="margin-top:10px;">
        </form>
    </div>
    
    <div style="text-align : center; margin-top:5%;">
        <img src="/images/scg_logo.png" style="width:400px;">
    </div>
</body>
</html>