html {
  width: 100%;
  height: 100%;
  background-image: url(../img/background.png);
  background-size: 100%;
}

#title_img {
  width: 600px;
  margin-top: 10px;
}
#title_img_bottom {
  margin-top: 20px;
  width: 300px;
}
#title {
  width: 400px;
  margin-bottom: 10px;
}
#content {
  width: 400px;
  height: 100px;
  margin-bottom: 10px;
}

#index {
  width: 400px;
  margin-bottom: 10px;
}

.post_article,
.get_article {
  text-align: center;
}
